<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Projects</h2>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  This list is short, but I hope to make time to change that soon.
</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for repo in site.projects.repos %}
    {% assign repository = site.github.public_repositories | where: 'name', repo | first %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div>
